html {
    /* membuat scroll smooth */
    scroll-behavior: smooth;
}

body {
    /* memasang font untuk semua element pada body html */
    font-family: Helvetica;
}

img {
    width: 250px;
    height: 150px;
}

h1 {
    color: blueviolet;    
}

h2 {
    color: red;
}

/* daily task 3 - membuat styling berbeda2 */
.p1 {
    color: aqua;
    font-size: 12px;
    font-weight: 300;
}
.p2 {
    color: blue;
    font-size: 24px;
    font-weight: 400;
}
.p3 {
    color: blueviolet;
    font-size: 36px;
    font-weight: 500;
}
.p4 {
    color: yellow;
    font-size: 48px;
    font-weight: 600;
}
.p5 {
    color: green;
    font-size: 10px;
    font-weight: 700;
}
.p6 {
    color: rgb(212, 5, 126);
    font-size: 25px;
    font-weight: 100;
}
.p7 {
    color: rgb(255, 102, 0);
    font-size: 30px;
    font-weight: 200;
}
.p8 {
    color: rgb(177, 240, 6);
    font-size: 35px;
    font-weight: 250;
}
.p9 {
    color: brown;
    font-size: 40px;
    font-weight: 350;
}
.p10 {
    color: rgb(85, 4, 85);
    font-size: 45px;
    font-weight: 550;
}